<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">What is the PEARL Project?</h2>
    <div class="row align-items-stretch">
      <div class="col-lg-6 mb-4">
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae laoreet metus. Curabitur vestibulum mauris condimentum arcu lacinia, vel gravida enim varius. Quisque non ultrices ex, nec blandit eros. Integer porttitor bibendum leo sed consectetur. Cras rutrum sem at metus sodales, vitae consequat lectus maximus. Nunc feugiat orci neque, ac ultrices turpis imperdiet a. Aliquam elit sem, ullamcorper id risus et, ornare facilisis nunc. Quisque ut mi neque. Fusce massa ligula, lacinia ut justo nec, blandit fringilla massa. Proin mi magna, elementum vel varius ac, hendrerit ac lorem. Sed non diam varius, tincidunt ex sit amet, vehicula odio. Ut tempor purus tortor, et ultricies nunc semper at. Mauris eleifend odio ut quam dictum dictum. Aliquam blandit porttitor augue sed porttitor. Curabitur vulputate tortor non dictum consequat. Cras scelerisque ante quis sapien congue tincidunt.
        </p>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="video-container">
          <%= image_tag('physics_image.jpg', class: 'embed-responsive-item w-100') %>
        </div>
      </div>
    </div>
  </div>
</section>