<%= render "appointments/current" %>

<% if current_user.is_admin? %>
  <div class="admin">
    <b>Experiments</b>
    <ul>
      <% @experiments.each do |experiment| %>
        <li>
          <%= link_to experiment.name, experiment %>
        </li>
      <% end %>
    </ul>
    <%= button_to "Create An Experiment", new_experiment_path, method: :get %>
  </div>
<% end %>

