<h1>Experiments</h1>

<% if current_user.current_appointment.present? %>
  You have an appointment for 
  <%= link_to current_user.current_appointment.experiment.name, current_user.current_appointment.experiment %>
  until <%= current_user.current_appointment.end_time&.strftime('%H:%M %m/%d/%Y') %>.
<% end %>

<ul>
  <% @experiments.each do |experiment| %>
    <li>
      <%= link_to experiment.name, experiment %>
    </li>
  <% end %>
</ul>

<%= button_to "Create An Experiment", new_experiment_path, method: :get %>
