<h1>Experiments</h1>

<ul>
  <% @experiments.each do |experiment| %>
    <li>
      <%= link_to experiment.name, experiment %>
    </li>
  <% end %>
</ul>

<%= button_to "Create An Experiment", new_experiment_path, method: :get %>
