/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.admin {
  background: rgba(255, 140, 55, 0.6);
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

html, body {
  height: 100%; /* Ensure full height for body */
  margin: 0; /* Remove default margin */
}

body {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
}

.main-content {
  flex: 1; /* Allow main content to expand */
}

footer {
  /* Styles for footer */
  background-color: #343a40; /* Dark background */
  color: white; /* White text */
  padding: 1rem 0; /* Vertical padding */
  text-align: center; /* Center text */
}

.video-container {
  height: 100%; /* Make the container take full height of the column */
}

.timeline {
  position: relative;
  padding: 20px 0;
  margin: 0 auto;
}
.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  border-left: 2px solid #007bff; /* Timeline line color */
  z-index: 1;
}
.timeline-item {
  position: relative;
  width: 50%;
  margin: 20px 0;
}
.timeline-item.left {
  left: 0;
  text-align: right; /* Align text to the right */
}
.timeline-item.right {
  left: 50%;
  text-align: left; /* Align text to the left */
}
.timeline-content {
  background: none; /* No background color */
  padding: 10px;
  border-radius: 5px;
  box-shadow: none; /* Remove shadow */
  z-index: 2;
}
.event-title {
  font-weight: bold;
}
.date {
  font-weight: normal;
  color: #6c757d; /* Muted color for the date */
}
@media (max-width: 768px) {
  .timeline-item {
    width: 100%;
    left: 0;
    text-align: left; /* Align text to the left for mobile view */
  }
  .timeline::before {
    left: 30px; /* Adjust for mobile view */
  }
}