<h1>Upcoming Appointments</h1>

<div id="appointments">
  <% current_user.appointments.each do |appointment| %>
    <p>
      <%= link_to appointment.purpose, appointment %> (<%= appointment.start_time&.strftime('%H:%M %m/%d/%Y') %> to <%= appointment.end_time&.strftime('%H:%M %m/%d/%Y') %>)
    </p>
  <% end %>
</div>

<%= button_to "New appointment", new_appointment_path, method: :get %>
